run = ["python", "main.py"]

entrypoint = "README.md"
modules = ["python-3.11:v30-20240222-aba8eb6"]

hidden = [".pythonlibs"]

disableGuessImports = true
disableInstallBeforeRun = true

[nix]
channel = "stable-23_11"

[unitTest]
language = "python3"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python main.py"]

[env]
PYTHONPATH = "$PYTHONPATH:$REPL_HOME/.pythonlibs/lib/python3.11/site-packages"
